@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;1,700&display=swap');

:root {
    --green: #00E77F;
    --white: #fff;
    --light-white: #aaa;
    --black: #3d3d3d;
    --light-bg: #4b4b4b;
}

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    text-transform: capitalize;
}

*::selection {
    background-color: var(--white);
    color: var(--black);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;1,700&display=swap');

:root {
    --green: #00E77F;
    --white: #fff;
    --light-white: #aaa;
    --black: #3d3d3d;
    --light-bg: #4b4b4b;
}

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    text-transform: capitalize;
}

*::selection {
    background-color: var(--white);
    color: var(--black);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 5rem;
}

body {
    background-color: var(--black);
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: var(--light-bg);
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    padding: 1rem 3rem;
}

.btn:hover{
    background-color: var(--white);
    color: var(--black);
}

.heading{
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 4rem;
    color: var(--white);
    text-transform: uppercase;
}

.heading span{
    color: var(--green);
    text-transform: uppercase;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--light-bg);
}

.header .flex {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header .flex .logo {
    font-size: 2.5rem;
    color: var(--white);
    text-transform: none;
}

.header .flex .logo span{
    color: orange;
    text-transform: none;
}

.header .flex .navbar a {
    margin-left: 2rem;
    color: var(--light-white);
    font-size: 2rem;
    padding: 0 50px 0 0;
}

.header .flex .navbar a:hover {
    color: var(--green);
}

#menu-btn {
    cursor: pointor;
    color: var(--white);
    font-size: 2.5rem;
    display: none;
}

































@media(max-width:991px) {

    html {
        font-size: 55%;
    }

    .home .row .content h3{
        font-size: 8rem;
    }
}

@media(max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header .flex .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        border-top: .1rem solid var(--light-white);
        border-bottom: .1rem solid var(--light-white);
        background-color: var(--light-bg);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    }

    .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar a {
        display: block;
        margin: 2rem;
    }

    .home .row .content h3{
        font-size: 5rem;
    }
}



@media(max-width:450px) {
    html {
        font-size: 50%;
    }

    .home .row .content h3{
        font-size: 5rem;
    }

    .heading{
        font-size: 3rem;
    }
}

body {
    background-color: var(--black);
}

h1{
    text-align: center;
    font-size: 50px;
    color: var(--green);
}

.container{
    height: 600px;
    width: 75%;
    border: 2px solid var(--green);
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fact{
    height: 80%;
    width: 60%;
    border: 2px solid var(--light-white);
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 0 50px ;
}

#btn{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    font-size: 16px;
    margin: 14px;
}

#btn-2{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    font-size: 16px;
    margin: 14px;
}
